In [ ]:
import pandas as pd
import numpy as np
import re
import nltk
import spacy
import string
pd.options.mode.chained_assignment = None

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
dir='/content/drive/MyDrive/Dataset/AI contest/train_new.csv'

In [ ]:
#dir='/content/train_new.csv'
td=pd.read_csv(dir)

In [ ]:
td.head()

   index                                          statement  label
0      0  Says the health care law rations care, like sy...      1
1      1  The Great Lakes Compact has a loophole. And th...      0
2      2  Obama has chosen to deny the vicious anti-Semi...      1
3      3  Says that according to a study, under Obamas h...      1
4      4  Forty-seven percent of Americans pay no income...      0

In [ ]:
td.isnull().sum()

index        0
statement    3
label        0
dtype: int64

In [ ]:
td.dropna(inplace=True)

Lower Casing Text

In [ ]:
td['statement']=td['statement'].str.lower()

In [ ]:
td.head()

   index                                          statement  label
0      0  says the health care law rations care, like sy...      1
1      1  the great lakes compact has a loophole. and th...      0
2      2  obama has chosen to deny the vicious anti-semi...      1
3      3  says that according to a study, under obamas h...      1
4      4  forty-seven percent of americans pay no income...      0

Removal of Punctuations

In [ ]:
!"#$%&\'()*+,-./:;<=>?@[\\]^_{|}~`$

/bin/bash: -c: line 0: unexpected EOF while looking for matching ``'
/bin/bash: -c: line 1: syntax error: unexpected end of file

In [ ]:
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(statement):
    return statement.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

td["statement"] = td["statement"].apply(lambda text: remove_punctuation(text))
td.head()

   index                                          statement  label
0      0  says the health care law rations care like sys...      1
1      1  the great lakes compact has a loophole and the...      0
2      2  obama has chosen to deny the vicious antisemit...      1
3      3  says that according to a study under obamas he...      1
4      4  fortyseven percent of americans pay no income tax      0

Removal of stopwords

In [ ]:
import nltk

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
from nltk.corpus import stopwords
" ".join(stopwords.words('english')) #display all stopwards

"i me my myself we our ours ourselves you you're you've you'll you'd your yours yourself yourselves he him his himself she she's her hers herself it it's its itself they them their theirs themselves what which who whom this that that'll these those am is are was were be been being have has had having do does did doing a an the and but if or because as until while of at by for with about against between into through during before after above below to from up down in out on off over under again further then once here there when where why how all any both each few more most other some such no nor not only own same so than too very s t can will just don don't should should've now d ll m o re ve y ain aren aren't couldn couldn't didn didn't doesn doesn't hadn hadn't hasn hasn't haven haven't isn isn't ma mightn mightn't mustn mustn't needn needn't shan shan't shouldn shouldn't wasn wasn't weren weren't won won't wouldn wouldn't"

In [ ]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(statement):
    #"""custom function to remove the stopwords"""
    return " ".join([word for word in str(statement).split() if word not in STOPWORDS])

td["statement"]=td["statement"].apply(lambda text: remove_stopwords(text))

In [ ]:
td.head()

   index                                          statement  label
0      0  says health care law rations care like systems...      1
1      1  great lakes compact loophole loophole cannot r...      0
2      2  obama chosen deny vicious antisemitic motivati...      1
3      3  says according study obamas health care initia...      1
4      4        fortyseven percent americans pay income tax      0

Removal of Frequent words

In [ ]:
#Counting Frequent Words
from collections import Counter
cnt = Counter()
for text in td["statement"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(4)

[('says', 32), ('new', 21), ('times', 17), ('people', 16)]

In [ ]:
FREQWORDS = set([w for (w, wc) in cnt.most_common(5)]) #Number of most_common(10) depends on number of total frequent
def remove_freqwords(text):
    #"""custom function to remove the frequent words"""
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

td["statement"] = td["statement"].apply(lambda text: remove_freqwords(text))

In [ ]:
td.head()

   index                                          statement  label
0      0  health care law rations care like systems cana...      1
1      1  great lakes compact loophole loophole cannot r...      0
2      2  obama chosen deny vicious antisemitic motivati...      1
3      3  according study obamas health care initiative ...      1
4      4        fortyseven percent americans pay income tax      0

In [ ]:
#ReChecking
cnt = Counter()
for text in td["statement"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

[('state', 15),
 ('percent', 14),
 ('states', 13),
 ('trump', 13),
 ('care', 12),
 ('tax', 12),
 ('us', 12),
 ('health', 11),
 ('years', 10),
 ('bill', 9)]

Removal of Rare words

In [ ]:
n_rare_words = 10
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(statement):
   # """custom function to remove the rare words"""
    return " ".join([word for word in str(statement).split() if word not in RAREWORDS])

td["statement"] = td["statement"].apply(lambda text: remove_rarewords(text))
td.head()

   index                                          statement  label
0      0  health care law rations care like systems cana...      1
1      1  great lakes compact loophole loophole cannot r...      0
2      2  obama chosen deny vicious antisemitic motivati...      1
3      3  according study obamas health care initiative ...      1
4      4        fortyseven percent americans pay income tax      0

Stemming (walks and walking-> walk)

from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()
def stem_words(statement):
    return " ".join([stemmer.stem(word) for word in text.split()])

td["text_stemmed"] = td["statement"].apply(lambda text: stem_words(text))
td.head()

**Lemmatization**

In [ ]:
import nltk

In [ ]:
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
def lemmatize_words(statement):
    return " ".join([lemmatizer.lemmatize(word) for word in statement.split()])

td["statement"] = td["statement"].apply(lambda text: lemmatize_words(text))

In [ ]:
td.head()

   index                                          statement  label
0      0  health care law ration care like system canada...      1
1      1  great lake compact loophole loophole cannot re...      0
2      2  obama chosen deny vicious antisemitic motivati...      1
3      3  according study obamas health care initiative ...      1
4      4         fortyseven percent american pay income tax      0

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V":wordnet.VERB, "J":wordnet.ADJ, "R":wordnet.ADV}
def lemmatize_words(statement):
    pos_tagged_text = nltk.pos_tag(statement.split())
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_tagged_text])

td["statement"] = td["statement"].apply(lambda text: lemmatize_words(text))
td.head()

   index                                          statement  label
0      0  health care law ration care like system canada...      1
1      1  great lake compact loophole loophole cannot re...      0
2      2  obama choose deny vicious antisemitic motivati...      1
3      3  accord study obamas health care initiative nea...      1
4      4         fortyseven percent american pay income tax      0

In [ ]:
td.head()

   index                                          statement  label
0      0  health care law ration care like system canada...      1
1      1  great lake compact loophole loophole cannot re...      0
2      2  obama choose deny vicious antisemitic motivati...      1
3      3  accord study obamas health care initiative nea...      1
4      4         fortyseven percent american pay income tax      0

Removal of URLs

In [ ]:
def remove_urls(statement):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', statement)

Removal of HTML Tags

In [ ]:
def remove_html(statement):
    html_pattern = re.compile('<.*?>')
    return html_pattern.sub(r'', text)

Text Vectorization

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

In [ ]:
td_statement=td['statement']

In [ ]:
td_statement

In [ ]:
X_train = vectorizer.fit_transform(td_statement)

In [ ]:
print(X_train.toarray())

In [ ]:
y_train=td['label']

In [ ]:
print(y_train)

In [ ]:
from sklearn.svm import SVC

In [ ]:
model=SVC()

In [ ]:
model.fit(X_train,y_train)

SVC()